/* See color theme from this palette
https://colorhunt.co/palette/151515a91d3ac73659eeeeee */

/* Bootstrap overwrites */
body {
    background-color: #eeeeee !important;
    color: #151515 !important;
}


.btn-primary {
    background-color: #c73659 !important;
    color: #eeeeee !important;
    border-width: 0 !important;
}
.btn-primary:hover {
    background-color: #a91d3a !important;
}

.card-header {
    background-color: #c73659 !important;
    color: #eeeeee !important;
}

.nav-link {
    color: #eeeeee !important;
}



/* Overwriting Bootstrap h1 styles */
h1.fancy-title {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1.fancy-title::before,
h1.fancy-title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #a91d3a;
    top: 50%;
    transform: translateY(-50%);
}

h1.fancy-title::before {
    left: -60px;
}

h1.fancy-title::after {
    right: -60px;
}

/* Other styles */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.header {
    /* padding: 20px; */
    text-align: center;
    /* color: #4d4d4d; */
    margin-top: 0;
    margin-bottom: 0;
    font-family: Varela Round, sans-serif;
    font-weight: 700;
    line-height: 65px;
    z-index: 2;
    color: #151515;
}

.header-main {
    letter-spacing: 4px;
    font-size: 70px;
}

.header-sub {
    font-size: 20px;
}

#my-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #a91d3a;
}

#my-nav > a {
    color: #eeeeee;
    padding: 20px;
    text-decoration: none;
    height: 100%;
}

#my-nav > a:hover {
    background-color: #151515;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.content {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;;
}

#head-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.head-button {
    margin: 0 20px 0 20px ;
    outline: none;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    font-size: 16px;
    line-height: 1.5;
    color: #eeeeee;
    background: #151515;
    border-radius: 40px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    height: 40px;
    width: 150px;
}

.head-button:hover {
    width: 160px;
}

#authors {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.author-list {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.author-foot {
    color: gray;
    font-size: small;
    margin: 0;
}

.author {
    width: 30%;
    margin: 10px;
}

.author-head {
    margin: 0;
}

#overview-image{
    width: 75%;
}

.involved-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}

.resources-cards {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.resources-card {
    padding: 20px;
    min-height: 200px;
    align-items: center;
}

.author-affiliation {
    font-size: 14px;
    font-style: italic;
    margin-top: -10px;
    /* optional, to reduce space between authors and affiliation */
}

.narrow-container {
    max-width: 800px;
    /* Adjust as needed */
    margin: 0 auto;
    text-align: left;
}

.banner {
    position: relative;
    background-image: url('banner.jpg');
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center; /* vertically center the content */
    justify-content: center; /* horizontally center the content */
    overflow: hidden; /* ensure the overlay does not spill out */
}


.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* white color with 50% opacity */
    /* adjust the rgba values to change the color and opacity */
    z-index: 1;
}

@media (max-width: 768px) {
    .action-card {
        width: 100%;
    }

    .action-container {
        flex-direction: column;
    }
}


.example-container {
    width: 100%;
    max-width: 1200px;
}

#footer {
    background-color: #a91d3a;
    margin-bottom: 0;
    height: 100px;
    color: #eeeeee;
}


